@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
}
<style>
    body{
        background-color: white;
        font-family: 'Times New Roman', Times, serif;
        font-size: 40px;
    }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="#" alt="Alternate Text" />
    <a href="#">content</a>
</div>